<div class="info-header">
    <h2 class="title">Hello, Ratul</h2>
    <p>You have 10 tasks today</p>
</div>

<div class="list-view">
    <div class="list-item task"  *ngFor="let item of data;">
        <h3 class="title">{{item.title}}</h3>
        <p class="subtitle">
            <i class="bi bi-clock"></i>
            <span class="date-time">21/01/2023 15:00</span>
        </p>
        <div class="tags">
            <p class="tag">#Reminder</p>
            <p class="tag">#Reminder</p>
            <p class="tag">#Reminder</p>
        </div>
    </div>
</div>

<div class="btn btn-fav btn-fav-primary btn-fav-big add-btn ripple" routerLink="add">+</div>