<h2 class="title">Task Entry</h2>

<form action="">
    <div class="input-wrapper">
        <label for="title">#Title</label>
        <input type="text" name="title" id="title">
    </div>

    <div class="input-wrapper">
        <label for="title">#Subtitle</label>
        <input type="text" name="title" id="title">
    </div>

    <div class="input-wrapper">
        <label for="title">#Description</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>

    <button class="btn">Add</button>
</form>